<div class="container">
	<div class="row">
		<div class="col-md-6">
			<form class="form-horizontal" id="Login" action="" method="POST">
				<fieldset>
					<div id="legend">
						<legend class="">Reset Password</legend>
					</div>
					<div class="control-group">
						<label class="control-label" for="password">Password</label>
						<div class="controls">
							<input type="password" id="password" minlength="6" name="password" placeholder="" class="form-control input-lg" required>
						</div>
					</div>
					<br>

					<div class="control-group">
						<!-- Button -->
						<div class="controls">
							<button class="btn btn-success">Login</button>
						</div>
					</div>
				</fieldset>
			</form>

		</div>
	</div>
</div>
